<nav class="header__menu">
    <ul>
        <li><a href="~/home">Home</a></li>
        @{
            foreach (var item in ViewBag.Layout_Menu)
            {
                <li class="@ViewBag.HomeActive"><a href="~/category-@item.CategoryID">@item.CategoryName</a></li>
            }
        }
        <li class="@ViewBag.CategoriesActive">
            <a href="#">Categories</a>
            <ul class="dropdown">
                @{
                    foreach (var item in ViewBag.Categories_List)
                    {
                        <li><a href="~/category-@item.CategoryID">@item.CategoryName</a></li>
                    }
                }
            </ul>
        </li>
        <li class="@ViewBag.BrandsActive">
            <a href="#">Brands</a>
            <ul class="dropdown">
                @{
                    foreach (var item in ViewBag.Suppliers_List)
                    {
                        <li><a href="~/brands/@item.SupplierID">@item.CompanyName</a></li>
                    }
                }
            </ul>
        </li>
        <li class="@ViewBag.BlogsActive"><a href="~/blogs">Blogs</a></li>
        <li class="@ViewBag.ContactActive"><a href="~/contact">Contact</a></li>
    </ul>

</nav>

