@model IEnumerable<Azure_Assignment.EF.ProductImage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImgFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImgFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImgID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImgID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImgID })
        </td>
    </tr>
}

</table>
